
//Custom



//*********** Type

%montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top-bar-section{
    @extend %montserrat;
}

// Need to override Zurbs default header font sizing to control shrinkage on mobile. 
// Remember, default i.e. without a media query is mobile, $media #{$small} are small screens and above

h1 {font-size: $h1-font-size - emCalc(13);}
h2 {
    font-size: $h2-font-size - emCalc(5);
    a{color: $tertiary;}
}
h4 {font-size: $h4-font-size;}


.second {
    h1 {color: white};
    h2, h3, h4 {color: $highlight;}
}

.third {
    h1, h2, h3 {color: white};
}


@media #{$small} {
    h1,h2,h3,h4,h5,h6 { line-height: $header-line-height; }
    h1 { font-size: $h1-font-size; }
    h2 { font-size: $h2-font-size;}
}


.inline-list.social-icons{
    text-align: center;
    
    li {
        display: inline-block;
    }
}



//************** Block styling

.logo{
    margin-left:$column-gutter/2;
    
    margin-top:17px;

    @media #{$small} {
        margin-top:10px;
    }
}

h1.logo-text {

    @extend %montserrat;
    color: $tertiary;
    
    
    padding-left:$column-gutter/2;

    em {
        color: $secondary;
    };
    
    i {
        color: $secondary;
        font-size: 24px;
    };
}

.vcard {
    border: none;
}


@mixin box-shadow($right:0px, $down:5px, $blur:20px, $offset:0px, $color: rgba(0,0,0,0.75), $inset:"") {

    -webkit-box-shadow: $right $down $blur $offset $color unquote($inset);
    -moz-box-shadow: $right $down $blur $offset $color unquote($inset);
    box-shadow: $right $down $blur $offset $color unquote($inset);
}

.vimeo{
    background:white;
}
.flex-video{
    margin-bottom: 0px;
}

.video-shadow{
    background: $tertiary;

    // This is confusing but the default is for mobile, "small" is for tablets and up, "medium" is for medium and up.
    // That's what "mobile first" means
    
    padding: 0;

    @media #{$small} {
        padding: $column-gutter $column-gutter 0 $column-gutter;
        @include border-top-radius($column-gutter);
    }
}

.inner-shadow{
    @include box-shadow(0, 10px, 10px, -5px, rgba(0,0,0,0.2), inset);
}

.over-auto{
    overflow: auto;
}

.main {
    background: image-url($def-overlay) $primary;
}

.second{
    color: white;
    background: image-url($def-overlay) $secondary;
}

.third{
    color: white;
    background: image-url($def-overlay) $tertiary;
}

.forth{
    color: $secondary;
    background: image-url($def-overlay) $highlight;
}

.footer {
    background: image-url($line-overlay) $most-text;
    color: white;
}




header.contain-to-grid:after{
    content: "";
    display: block;
    background: image-url("Cut.png") ;
    height: 6px;
    width: 100%;
    position: absolute;
}

.tooth:before{
    content: "";
    display: block;
    background: image-url("Cut.png");
    height: 6px;
    width: 100%;
    position: absolute;
}

.bottom-tooth:after{
    content: "";
    display: block;
    background: image-url("cut-up.png");
    height: 6px;
    width: 100%;
}


.top-bar-section ul li > a {
    border-top: solid 1px #EEEEEE;
}







//******** Sign up button


.sign-up-button {
    @include button-base;
    @include button-size;
    @include button-style($tertiary, 0, false);
}
.sign-up-container{
    text-align: center;
    
    @media #{$small} {
    // text-align: left;
        padding-top:33px;
    }
}

//*********** Form




